html,
body,
html {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
.ar-container {
    position: relative;
}

.ar-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;
    background-color: black;
    position: absolute;
    z-index: 99999;
}
*/